@media (max-width:1100px) and (min-width:100px) {

    
    .g30{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 80px 80px 40px;
    }

}

@media (max-width:1000px) and (min-width:100px) {

    .g1{
        padding: 0 80px;
    }

    .g3{
        display: none;
    }

    
    .g5{
        width: 0;
        height: 0;
        background-color: hsla(214, 62%, 26%, 0);
    }
    
    .g5 input{
        display: none;
    }

/* ================================================= */

    .section1{
        padding: 0 80px;
        margin-bottom: 60px;
    }

    .g14{
        margin: 0 0 0 20px;
    }

    .g16{
        height: 35px;
    }
    
    
    .g17 h3{
        font-size: 14px;
    }
    
    .g18 h3,
    .g19 h3{
        font-size: 14px;
    }

/* ====================================================================== */

    .g25{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .section3{
        padding: 0 40px;
        margin-bottom: 60px;
    }

}

@media (max-width:800px) and (min-width:100px) {

    .section2{
        display: none;
    }

    /* ============================================================ */


    .g25{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /* =============================================== */

    
    .g32{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media (max-width:700px) and (min-width:100px) {

    .g1{
        padding: 0 40px;
    }

    .section1{
        padding: 0 40px;
        margin-bottom: 60px;
    }
    /*     
    .g21 .s2 p{
        width: 160px ;
    } */
}

@media (max-width:600px) and (min-width:100px) {

    
    .g11{
        height: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .g12{
        margin: 0 0 10px;
    }

}

@media (max-width:600px) and (min-width:100px) {

    .g25{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

}

@media (max-width:363px) and (min-width:100px) {

    .g11{
        height: 55px;
    }
    
    .g12 li{
        font-size: 12px;
    }
    
    .g16{
        display: flex;
        align-items: center;
        background-color: hsl(222, 25%, 10%);
        height: 45px;
        border-radius: 10px;
    }
    
    .g17 h3{
        font-size: 12px;
        color: white;
        margin: 0 15px 0 15px;
    }
    
    .g18 h3,
    .g19 h3{
        font-size: 12px;
        color: white;
        margin: 0 15px 0 0;
    }
}